services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    command: npm start
    labels:
      - traefik.enable=true
      - traefik.http.routers.${SUBDOMINIO}.rule=Host(`${SUBDOMINIO}.cortex.tec.br`)
      - traefik.http.routers.${SUBDOMINIO}.entrypoints=websecure
      - traefik.http.routers.${SUBDOMINIO}.tls.certresolver=myresolver
      # Regra para o domínio principal
      - traefik.http.routers.cortex-main.rule=Host(`cortex.tec.br`)
      - traefik.http.routers.cortex-main.entrypoints=websecure
      - traefik.http.routers.cortex-main.tls.certresolver=myresolver
      # Especificar a porta do serviço para o Traefik
      - traefik.http.services.nextjs.loadbalancer.server.port=3000